.idea
*.iml
*.xml
*.cbp
*.cmake
cmake-build-debug/CMakeCache.txt
*.bin
*.exe-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
cmake
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.make
cmake-build-debug/CMakeFiles/proj.dir/link.txt
cmake-build-debug/CMakeFiles/proj.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/proj.dir/objects1.rsp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
CMakeLists.txt
*.includecache
*.internal
*.rsp
*.a
*.obj
